input {
    outline-color: #008800;
}

.abcBox {
    width: 32px;
    text-align: right;
}

.kinematicBox {
    width: 64px;
    text-align: right;
}

.kinematicLabel {
    text-align: right;
    font-style: oblique;
}

#css {
    color: darkblue;
}
