input {
    outline-color: #008800;
}

.abcBox {
    width: 32px;
    text-align: right;
}

.kinematicBox {
    width: 64px;
    text-align: right;
}

#css {
    color: darkblue;
}

wiki-guess {
    font-family: Mono;
}

/* Master Styles */
h1 {
  color: #369;
  font-size: 250%;
}
h2, h3, h4 {
  color: #444;
  font-weight: lighter;
}
body {
  margin: 2em;
}

body, input[text], button {
  color: #888;
}
